.contacto{
    background-color: rgb(40, 127, 203);
    color: black;
    font-size: 18px ;
    border-radius: 14px;
    padding: 25px;
    display: grid;
    
}
.contacto p{
    text-transform:capitalize;
}